body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  color: #333;
  font-size: 24px;

}

div {
  color: blue;
  text-align: center;
  margin-top: 10px;
}

.App {
  width: 80%;
  margin: 0 auto;
  text-align: justify;

}

.btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: blue;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  body {

  }
}
