
.home-page {
  margin: 20px;
  display: flex;
  justify-content: space-between;

}

.home-btn{
width: 23%;
height: 50px;
background: #99c0ba;
}
.todos-btn {
  width: 23%;
  height: 50px;
  background: #99c0ba;
}
.albums-btn {
  width: 23%;
  height: 50px ;
  background: #99c0ba;
}
.comments-btn {
  width: 23%;
  height: 50px;
  background: #99c0ba;
}

.albums-page {
  border: 1px solid;
  margin: 10px;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  background: bisque;
}

.comments-page {
  border: 1px solid;
  margin: 10px;
  padding: 15px;
  font-size: 16px;
  background: bisque;
}
.id-post {
  border: 1px solid;
  margin: 10px;
  padding: 15px;
  font-size: 12px;
  text-align: center;
  background: #c4d0ff;
}

.todo-block {
  border: 1px solid;
  margin: 10px;
  padding: 15px;
  font-size: 16px;
  background: bisque;
}

.main-page {
  border: 1px solid;
  text-align: center;
  font-size: 100px;
  left: 400px;

}

.cont {
  background: #99c0ba;
  width: 100%;
  height: max-content;

}

