.App {
  text-align: center;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.users-block {
  padding: 20px;
  border: 2px solid grey;
  background: azure;
}

.comments {
  padding-top: 20px;
  border: 2px solid grey;
  background: snow;
}